<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings>
            <setting name="WordTemplateFilename" serializeAs="String">
                <value>_Template</value>
            </setting>
            <setting name="XMLDirectoryName" serializeAs="String">
                <value>XML</value>
            </setting>
            <setting name="GraphicsDirectoryName" serializeAs="String">
                <value>Graphics</value>
            </setting>
            <setting name="WordTemplateFileExtensions" serializeAs="String">
                <value>.dotm;.dotx</value>
            </setting>
            <setting name="DocPropertyNameForLastDirectoryPath" serializeAs="String">
                <value>_LastDirectoryPath</value>
            </setting>
        </FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings>
            <setting name="HostingServiceUrl" serializeAs="String">
                <value>https://github.com/FlorianWolters/component-based-authoring-add-in-for-microsoft-word</value>
            </setting>
        </FlorianWolters.Office.Word.AddIn.CBA.Properties.Settings>
    </applicationSettings>
</configuration>
