<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="RichTextBox"
                autoScroll="true"
                useDefaultRowColoringRules="true"
                name="richTextBox"
                layout="${date}${newline}&#8226; ${message}"
                controlName="richTextBoxMessages"
                formName="MessagesForm" />
    </targets>
    <rules>
        <logger name="FlorianWolters.Office.Word.AddIn.CBA.*"
                final="true"
                minlevel="Trace"
                maxlevel="Fatal" 
                writeTo="richTextBox" />
    </rules>
</nlog>
